header.top-bar {
  background: white;
  ul {
    background: white;
  }
  .dropdown.menu a {
    font-weight: bold;
    color: #829499;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
  }
  .dropdown.menu .is-dropdown-submenu-parent a {
    padding-right: 1.5rem;
    &::after {
      border-color: #829499 transparent transparent;
    }

  }

}
//   .header {
//     // background-color: grey;
//     box-sizing: border-box;
//     padding: 16px;
//     // min-height: 64px;
//     .container {
//       position: relative;
//     }
//     .container::before {
//       content: '';
//       position: absolute;
//       bottom: -16px;
//       left: 0;
//       right: 0;
//       height: 1px;
//       // background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 100%);
//       background: #DDDDDD;
//       z-index: 9;
//     }
// }
//
// .header__nav {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     // background-color: lightgrey;
// }
// .header__checkbox {
//   display: none;
//   position: relative;
//   width: 50px;
//   height: 50px;
//   left: 37px;
//   z-index: 9;
//   opacity: 0;
//   cursor: pointer;
// }
// .header__icon {
//   display: none;
//   position: relative;
//   height: 18px;
//   width: 24px;
//   z-index: 8;
//   &-middle {
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     top: 50%;
//     transform: translateY(-50%);
//     background: black;
//     transition: opacity 250ms ease-out;
//
//   }
//
//   &::before,
//   &::after {
//     content: '';
//     display: inline-block;
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background: black;
//     transition: transform 250ms ease-out;
//   }
//   &::after {
//     bottom: 0%;
//   }
//
//   // background-color: red;
//
// }
// .header__checkbox:checked ~ .header__icon {
//   & .header__icon-middle {
//     opacity: 0;
//   }
//   &::before {
//     transform: translateY(8px) rotate(-45deg);
//   }
//   &::after {
//     transform: translateY(-8px) rotate(45deg)
//   }
//
// }
//
//
//
// .header__menu {
//   display: flex;
//   align-items: center;
//
// }
//
// .header__logo {
//     width: 134px;
//     height: 48px;
//     cursor: pointer;
//     // background-color: $color-blue;
//     // border-radius: 50%;
//     margin-right: 10px;
//     // background: url('/assets/img/logo.svg');
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: contain;
//     position: relative;
//     z-index: 8;
//     img {
//       width: auto;
//       height: 100%;
//     }
// }
//
// .header__space {
//   flex-grow: 1;
// }
//
// .header__el {
//     padding: 0 15px;
//     cursor: pointer;
//     position: relative;
//     z-index: 1;
//
//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       display: inline-block;
//       // top: 0;
//       left: 0;
//       right: 0;
//       height: 1px;
//       // background-color: $color-blue;
//       background-color: #DDDDDD;
//       transform: scaleX(0);
//       transition: transform 150ms ease-out;
//
//       z-index: 0;
//       background-blend-mode: multiply;
//     }
//     &::before {
//       bottom: 0;
//       transform-origin: center left;
//     }
//     &::after {
//       top: 0;
//       transform-origin: center right;
//     }
//
//     &:hover {
//       &::before {
//         transform-origin: center right;
//         transform: scaleX(1);
//       }
//       &::after {
//         transform-origin: center left;
//         transform: scaleX(1);
//       }
//     };
//
// }
// .header__lang {
//     position: relative;
//     //  margin-left: auto;
//      padding: 0 0 0 25px;
//      a {
//          text-decoration: none;
//      }
//      &::before{
//        content: '';
//        position: absolute;
//        top: -4px;
//        bottom: -4px;
//        left: 5px;
//        width: 1px;
//        background-color: #DDDDDD;
//      }
//
//      .header__lang-container {
//        position: relative;
//        select {
//          background: none;
//          border: none;
//          -webkit-appearance: none;
//          -moz-appearance: none;
//          appearance: none;
//          padding-right: 15px;
//          position: relative;
//          outline: none;
//        }
//        select::-ms-expand {
//          display: none;
//        }
//        &::before,
//        &::after {
//          content: '';
//          position: absolute;
//          display: inline-block;
//          left: 0;
//          right: 0;
//          height: 1px;
//          background-color: #DDDDDD;
//          z-index: 0;
//        }
//        &::before {
//          bottom: 0;
//          transform-origin: center left;
//        }
//        &::after {
//          top: 0;
//          transform-origin: center right;
//        }
//        .header__lang-arrow {
//            content: '';
//            display: inline-block;
//            position: absolute;
//            right: 2px;
//            top: 50%;
//            width: 5px;
//            height: 5px;
//            border: 1px solid transparent;
//            border-left-color: #232323;
//            border-bottom-color: #232323;
//            transform: translate(0, -50%) rotate(-45deg) translate(0, -50%);
//        }
//      }
// }
//
// @media screen and (max-width: 850px) {
//     .header__menu {
//       display: flex;
//       position: fixed;
//       padding: 90px 40px;
//       width: 100vw;
//       background: white;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       z-index: 7;
//       flex-direction: column;
//       box-sizing: border-box;
//       transition: opacity 250ms ease-out;
//       opacity: 0;
//       visibility: hidden;
//
//     }
//     .header__el {
//       padding: 15px;
//       font-size: 32px;
//       font-weight: 100;
//     }
//     .header__lang {
//       padding: 15px;
//       font-size: 32px;
//       font-weight: 100;
//       &::before,
//       &::after {
//         display: none;
//       }
//     }
//     .header__checkbox,
//     .header__icon {
//       display: inline-block;
//     }
//     .header__checkbox:checked ~ .header__menu {
//         // display: flex;
//         opacity: 1;
//         visibility: visible;
//
//
//     }
// }
